.progress-bar {
    width: 650px;
    height: 8px;
    position: relative;
    display: flex;
}

.fill-send-acked {
    height: 8px;
    background-color: #2dc100;
    display: flex;
    flex: 1;
}

.fill-send-unacked {
    height: 8px;
    background-color: #f6ea02;
    display: flex;
    flex: 1;
}

.fill-send-new-transmission {
    height: 8px;
    background-color: #1fc5e6;
    display: flex;
    flex: 1;
}

.fill-send-not-allowed {
    height: 8px;
    background-color: #ff0000;
    display: flex;
    flex: 1;
}

.fill-recv-acked {
    height: 8px;
    background-color: #2dc100;
    display: flex;
    flex: 1;
}

.fill-recv-allowed {
    height: 8px;
    background-color: #f6ea02;
    display: flex;
    flex: 1;
}

.fill-recv-not-allowed {
    height: 8px;
    background-color: #ff0000;
    display: flex;
    flex: 1;
}
